*{
  box-sizing: border-box;
}
body{
  color: white;
  scroll-behavior: smooth;
  background: linear-gradient(  rgb(32, 59, 95),rgb(32, 32, 32), rgb(32, 32, 32),rgb(32, 32, 32),rgb(32, 32, 32),rgb(32, 32, 32),rgb(32, 32, 32),rgb(32, 32, 32),rgb(32, 32, 32),rgb(32, 32, 32),rgb(32, 32, 32),rgb(32, 32, 32),rgb(32, 32, 32));
  box-sizing: border-box;
  padding: 0px;
  background-repeat: no-repeat;
}
#navbar{
  position: fixed;
  width: 89%;
  height: 80px;
  background-color: rgba(43, 43, 43, 0.274);
  padding: 25px;
  float: left;
  margin-left: 200px;
  z-index: 10;
  overflow: hidden;
  backdrop-filter: blur(10px);
}
#verbar{
  position: fixed;
  text-align: center;
  width: 200px;
  height: 100%;
  background-color: rgba(43, 43, 43, 0.274);
  float: left;
}
#maintab{
  width: 88%;
  height:max-content;
  background-color: rgba(43, 43, 43, 0.274);
  padding: 25px;
  float: left;
  margin-left: 200px;
  margin-top: 80px;
  padding-left: 0px;
}
#Browse{
  width: 88%;
  height:max-content;
  background-color: rgba(43, 43, 43, 0.274);
  padding: 25px;
  float: left;
  margin-left: 200px;
  margin-top: 80px;
  padding-left: 0px;
  margin-bottom: 100px;
}
#Chartstab{
  width: 88%;
  height:max-content;
  background-color: rgba(43, 43, 43, 0.274);
  padding: 25px;
  float: left;
  margin-left: 200px;
  margin-top: 80px;
  padding-left: 0px;
  margin-bottom: 100px;
}
#searchbar{
  width: 400px;
  padding: 10px;
  margin: 10px;
  border-radius: 50px;
  border: black 1px;
  background-color: rgba(167, 167, 167, 0.24);
  float: right;
}
#mplayer{
  width: 100%;
  background-color: rgba(95, 158, 160, 0.377);
  height: 900px;
}
/* --------------------------- Vertab Elements  -------------------------------------*/
.sp{
  text-align: left;
  width: 100%;
  float: left;
  font-family: sans-serif;
  color: rgb(255, 255, 255);
  padding: 12px;
  background-color:transparent;
  margin-bottom: 2px;
  border-radius: 40px 5px 5px 40px;
  opacity: .6;
}
.sp:hover{
  opacity: 1;
}
.active{
  background-image: linear-gradient(to right,rgba(167, 166, 165, 0.39),rgba(167, 166, 165, 0.39),transparent);
  opacity: 1;
}
#sp{
  padding-left: 30px;
  margin-top: 0px;
}
.micon{
  float: left;
  width: 20px;
  height: 20px;
  background-color: transparent;
  margin-right: 7px;
}
#second{
  text-align: left;
  float: left;
  height:max-content;
  width: 100%;
  margin-top: 20px;
  padding-left: 40px;
}
.second{
  text-decoration: bold;
  text-align: left;
  font-size: 14px;
  width: 100%;
  float: left;
  font-family:  sans-serif;
  color: rgb(175, 175, 175);
  margin-top: 20px;
  opacity: .6;
}
.second:hover{
  opacity: 1;
  text-decoration: underline;
}
.vname{
  color: rgb(170, 170, 170);
  text-align: left;
  font-size: 14px;
  text-decoration: bold;
  opacity: .4;
}
#playlist{
  text-align: left;
  float: left;
  width: 100%;
  padding: 40px;
}
#heading{
  padding: 50px;
  margin-top: 50px;
}

