.tabs{
  float: left;
  width: 200px;
  height: 120px;
  background-color: aquamarine;
  padding: 25px;
  margin: 10px;
  margin-left: 15px;
  border-radius: 10px;
}
.tname{
  font-size: 46px;
  margin-left: 20px;
}