*{
  box-sizing: border-box;
  font-family: sans-serif;
}
.containertwo{
  float: left;
  width: 600px;
  height: 200px;
  background-color: rgba(167, 167, 167, 0.24);
  border-radius: 10px;
  margin: 5px;
}
.img{
  background-color:violet;
  width: 45%;
  height: 50%;
  float: left;
}
#Dm{
  width: 65%;
  height: 250px;
  padding-top: 30px;
  float: left;
  color: white;
}
#discp{
  color: rgb(139, 139, 139);
  font-size: 14px;
  margin-left: 15px;
  padding: 20px;
}
#imgc{
  width: 35%;
  height: 220px;
  float: left;
}
.container{
  float: left;
  height: 200px;
  width: 17%;
  background-color: rgba(167, 167, 167, 0.24);
  border-radius: 10px;
  margin: 15px;
  padding: 10px;
}
.containera{
  color:white;
  float: left;
  height: 220px;
  width: 30%;
  background-color: rgba(167, 167, 167, 0.24);
  border-radius: 10px;
  margin: 15px;
  padding: 10px;
  right: 0;
}
.containertwo{
  float: left;
  width: 65%;
  height: 220px;
  background-color: rgba(167, 167, 167, 0.24);
  border-radius: 10px;
  margin: 15px;
}
 
.container3{
  float: left;
  width: 97.5%;
  height:max-content;
  background-color:rgba(167, 167, 167, 0.24);
  margin: 15px;
  border-radius: 10px;
  padding: 10px;
} 
.container4{
  float: left;
  width: 97.5%;
  height:max-content;
  background-color:rgba(167, 167, 167, 0.24);
  margin: 15px;
  border-radius: 10px;
  padding: 10px;
} 
.slides1{display: block;
 padding-left: 15px;
}
.slides2{display: block;
  padding-left: 15px;
}
.subcontainer{
  float: left;
  height:max-content;
  width: 14.8%;
  background-color:teal;
  border-radius: 10px;
  margin: 6px;
}
 .thumbnail{
  height: 190px;
  width: 100%;
  border-radius: 7px;
  background-color: rgb(11, 58, 53);
 }
 .songd{
   font-size: 12px;
   color: rgb(0, 0, 0);
   padding: 5px;
   margin: 5px;
 }
.subcontainer2{
  float: left;
  height:max-content;
  width: 14.8%;
  background-color:rgb(188, 206, 24);
  border-radius: 10px;
  margin: 6px;
}
.navigetor{
 float: left;
 text-align: center;
 background-color: transparent;
 height:max-content; 
 border: none;
 height: 220px;
 vertical-align: middle;
  }
 #left{
   opacity: 0;
    height: 50px;
    width: 27px;  
  }
  #left:hover{
    opacity: 1;
  }
  .navigetort{
    float: left;
    background-color: transparent;
    text-align: center;
    height:max-content; 
    border: none;
    vertical-align: middle;
    margin-top: 7.5%;
  }
  #tabnav{
    opacity: 0;
    width: 27px;
    height: 50px;
  }
  #tabnav:hover{
    opacity: 1;
  }
 table{
  float: left;
  width: 92%;
  height: max-content;
  background-color:transparent;
  margin: 8px;
}
.tablecontent{
  background-color:transparent;
  width: 30%;
  height: 30px;
  margin: 7px;
  border-radius: 10px;
  padding: 2px;
}
.tablecontent:hover{
  background-color: rgb(38, 41, 41);
}
 .timage{
  float:left;
  background-color: violet;
   height: 70px; 
   width: 19%;
  border-radius: 10px;
  margin: 2px;
}
.tabd{
  color: thistle;
  float: left;
  background-color: transparent;
  width: 70%;
  height: 95%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
}
h2{
  float: left;
  color: white;
  width: 100%;
  margin: 5px;
  padding-left: 20px;
}
#demo{
  margin-top: 0px;
  font-size: 40px;
  margin-bottom: 5px;
}
.micon{
  width: 20px;
  height: 20px;
  background-color: transparent;
  margin-right: 5px;
}
@media only screen and (max-width: 600px){
  h2{
    font-size: 14px;
    padding: 0px;
  }
  #imgc{
    height: 110px;
  }
  .containertwo{
    height:110px;
    width: 100%;
  }
  #Dm{
    height: 110px;
    padding-top: 5px;
    margin: 0px;
  }
  .containera{
    display: none;
  }
}